<body>
    <div class= "profile">
     <div id = "nav">
    <div class = "toggle-bar">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
    <a routerLink="/home" >Home</a>
    <a routerLink="/profile" >Profile</a>
    <a routerLink="/chatbox" >Message</a> 
    <a routerLink="/about" >About</a>  
    </ul>    
    </div>
    <h2>PROFILE</h2>
    <form >
     <input type="text" name="fname" placeholder="First name"><br>
     <input type="text" name="lname" placeholder="Last name"><br>
     <input type="number" name="phone" placeholder="Phone Number"><br>
     <input type="text" name="Status" placeholder="Status"><br>
     <input type="submit" value="Submit">
    </form>
  </div>
</body>