/*
write your own common  code 

*/
body {
    font:12px arial;
    background-color: white;
     background-size: 100%;
    color: black;
    text-align:center;
    padding:35px; 
}
 h1{
     text-align:left;
     color: #660000;
     line-height: 100px;
     width: 100%;
     height: 100px;
     margin-top: -50px;
     color: black;
     font-family:Comic Sans MS; 
     font-size: 40px;
 }
input { 
	font:12px arial;
 }